body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: aliceblue;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:10px
}

.container-entradas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.container-entradas button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: black;
    border: none;
    color: aliceblue;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-end; 
    padding-left: 2px;
}

.container-entradas button img{
    max-width: 100%;
    max-height: 100%;
}

.container-entradas input{
    width: 83px;
    height: 60px;
    font-size: 60px;
    box-shadow: 0 0 3px aliceblue;
    text-align: center;
}

.container-entradas p{
    align-self: center;
}

.container-resultado{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.container-resultado img{
    width: 200px;
    
}

