/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.navbar {
    width: 100%;
    background-color: #effaff;
    top: 0; 
    position: sticky;
    z-index: 1000;
    
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #effaff;
    padding: 10px;
}

.menu li {
    position: relative;
    margin-right: 20px;
    list-style: none;
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.menu li a:hover {
    background-color: #333;
    color: #fff;
}

.submenu {
    position: absolute;
    top: 40px; /* ajusta a posição do submenu */
    left: 0;
    background-color: #ffffff;
    display: none; /* Esconde o submenu inicialmente */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.menu li:hover .submenu {
    display: block; /* Mostra o submenu ao passar o mouse */
}

.submenu li {
    width: 150px;
}

.submenu li a {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.submenu li a:hover {
    background-color: #2b2b2b;
}

.submenu li:last-child a {
    border-bottom: none;
}
